name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DOCKER_CONTAINER_NAME: ${{ vars.DOCKER_CONTAINER_NAME }}
  APP_FILE: ${{ vars.APP_FILE }}
  BIN_NAME: ${{ vars.BIN_NAME }}
  DOCKER_IMAGE_NAME: ${{ vars.DOCKER_IMAGE_NAME }}
  DOCKER_NAMESPACE: ${{ vars.DOCKER_NAMESPACE }}

jobs:

  # Test:

  Publish:
    needs: [Test]  
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build and push Docker image to GHCR
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/${{ vars.DOCKER_IMAGE_NAME }}:latest
          ghcr.io/${{ github.repository_owner }}/${{ vars.DOCKER_IMAGE_NAME }}:${{ github.sha }}
